<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h4>My Bunker</h4>
				<p>
					{% for adress in site.address %}
					  {{ adress.line }} <br>
					{% endfor %}
				</p>
				<ul class="list-inline">
					{% for network in site.data.navigation.social %}
					<li>
						<a href="{{ network.url }}" class="btn-social btn-outline"><i class="glyphicon glyphicon-{{ network.icon }}"></i> {{ network.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div><!-- /col-lg-4 -->
			
			<div class="col-lg-4">
				<h4>My Links</h4>
				<p>
					{% for network in site.data.navigation.footer %}
					    <a href="{{ network.url }}" class="btn-social btn-outline">{{ network.title }}</a><br />
				    {% endfor %}
				</p>
			</div><!-- /col-lg-4 -->
			
			<div class="col-lg-4">
				<h4>About Stanley</h4>
				<p>This cute theme was created to showcase your work in a simple way. Use it wisely.</p>
			</div><!-- /col-lg-4 -->
		
		</div>
	
	</div>
</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
