{% assign projects = include.grid | default: page.grid %}
{% assign count = projects.size %}

<!-- +++++ Projects Section +++++ -->
<div class="container pt">
    {% for work in projects %}
    {% if work.published == true %}
    {% cycle 'add rows': '<div class="row mt centered">', '', '' %}

    <div class="col-lg-4{% if count == 2 %} col-lg-offset-1{% endif%}">
        <a class="zoom green" href="{{ work.url | relative_url }}"><img class="img-responsive center-block" src="{{ work.image }}" alt="" /></a>
        <h3><a href="{{ work.url | relative_url }}">{{ work.title }}</a></h3>
        <p>{{ work.description }}</p>
        {% if work.price %}
        <p><strong>Pris: {{ work.price }} inkl. moms</strong></p>
        {% endif %}
    </div>

    {% cycle 'close rows': '', '', '</div>' %}
    {% endif %}
    {% endfor %}
    {% cycle 'close rows': '', '</div>', '</div>' %}
</div><!-- /container -->
